.start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin-top: 150px;
}

.start>img {
    width: 650px;
}

.Get {
    margin-top: -170px;
}

.Get>h1 {
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.Get>p {
    font-size: 26px;
    font-family: 'arial', serif;
}

.account {
    margin-left: 900px;
    margin-top: -250px;
    padding: 0px 100px;
}

.create {
    width: 300px;
    padding: 8px;
    background-color: #3ea9df;
    font-style: oblique;
    font-weight: bold;
}

.sign {
    width: 300px;
    padding: 8px;
    background-color: #81949e;
    margin-top: 30px;
    font-style: oblique;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .start {
        flex-direction: column; 
        gap: 10px; /* Reduced gap between items */
        margin-top: 20px;
    }

    .start>img {
        width: 650px;
    }

    .account {
        margin-top: 40px; /* Increased top margin for spacing */
        margin-left: 120px;
        padding: 0px 100px;
    }

    .Get {
        margin-top: 10px;
    }

    .Get>p {
        font-size: 26px;
        font-family: 'arial', serif;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .account {
        margin-left: 900px;
        margin-top: -250px;
        padding: 0px 100px;
    }
}

@media screen and (max-width: 390px) {
    .start {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 10px; /* Reduced gap between items */
        margin-top: 20px;
    }

    .account {
        margin-top: 35px; /* Increased top margin for spacing */
        margin-left: -50px;
        padding: 0px 100px;
    }

    .Get {
        margin-top: -20px;
    }

    .Get>h1 {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    

    .Get>p {
        font-size: 20px;
        font-family: 'arial', serif;
        margin-top: 20px;
    }
}